{
  "openapi": "3.1.0",
  "info": {
    "title": "AI2Fin Financial Management API",
    "description": "Enterprise-grade financial management platform with AI-powered categorization, tax optimization, and bill management. Built for scalability with 100K+ concurrent users.",
    "version": "1.0.0",
    "contact": {
      "name": "AI2Fin Support",
      "url": "https://embracingearth.space"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.ai2fin.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3001",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "cookieAuth": []
    },
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Register new user",
        "description": "Create a new user account with email and password",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password", "firstName", "lastName"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "minLength": 8,
                    "example": "SecurePass123!"
                  },
                  "firstName": {
                    "type": "string",
                    "example": "John"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "Smith"
                  },
                  "businessType": {
                    "type": "string",
                    "enum": ["business", "individual", "company", "trust"],
                    "default": "business"
                  },
                  "countryCode": {
                    "type": "string",
                    "example": "AU",
                    "default": "AU"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or user already exists"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Login user",
        "description": "Authenticate user and receive JWT token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Get current user profile",
        "description": "Retrieve authenticated user information",
        "responses": {
          "200": {
            "description": "User profile retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "user": {
                      "$ref": "#/components/schemas/User"
                    },
                    "authenticated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/bank/transactions": {
      "get": {
        "tags": ["Bank Transactions"],
        "summary": "List bank transactions",
        "description": "Retrieve paginated list of bank transactions with filtering options",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by category ID"
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["debit", "credit"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BankTransaction"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Bank Transactions"],
        "summary": "Create bank transaction",
        "description": "Manually add a new bank transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankTransactionInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transaction": {
                      "$ref": "#/components/schemas/BankTransaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/bank/transactions/{id}": {
      "get": {
        "tags": ["Bank Transactions"],
        "summary": "Get transaction by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankTransaction"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found"
          }
        }
      },
      "put": {
        "tags": ["Bank Transactions"],
        "summary": "Update transaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankTransactionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction updated successfully"
          }
        }
      },
      "delete": {
        "tags": ["Bank Transactions"],
        "summary": "Delete transaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction deleted successfully"
          }
        }
      }
    },
    "/api/bank/upload": {
      "post": {
        "tags": ["Bank Transactions"],
        "summary": "Upload bank statement CSV",
        "description": "Upload and parse bank statement CSV file with intelligent categorization",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "categoryMappings": {
                    "type": "string",
                    "description": "JSON string of category mappings"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CSV processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionsImported": {
                      "type": "integer"
                    },
                    "duplicatesSkipped": {
                      "type": "integer"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/bills": {
      "get": {
        "tags": ["Bills & Recurring Payments"],
        "summary": "List bills",
        "description": "Retrieve all bills with filtering and pagination",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "paid",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bills retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bills": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bill"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Bills & Recurring Payments"],
        "summary": "Create bill",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bill created successfully"
          }
        }
      }
    },
    "/api/bills/patterns": {
      "get": {
        "tags": ["Bills & Recurring Payments"],
        "summary": "List bill patterns",
        "description": "Get all recurring bill patterns with automatic occurrence generation",
        "parameters": [
          {
            "name": "includeInactive",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bill patterns retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BillPattern"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Bills & Recurring Payments"],
        "summary": "Create bill pattern",
        "description": "Create recurring bill pattern with automatic occurrence generation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPatternInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Pattern created with occurrences"
          }
        }
      }
    },
    "/api/expenses": {
      "get": {
        "tags": ["Expenses"],
        "summary": "List expenses",
        "description": "Retrieve expenses with tax deduction information",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "isTaxDeductible",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expenses retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expenses": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Expense"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/ai/classify-transaction": {
      "get": {
        "tags": ["AI Services"],
        "summary": "Classify transaction",
        "description": "AI-powered transaction categorization with tax deduction analysis",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction classified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string"
                    },
                    "confidence": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 1
                    },
                    "isTaxDeductible": {
                      "type": "boolean"
                    },
                    "taxCategory": {
                      "type": "string"
                    },
                    "reasoning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/custom-rules": {
      "get": {
        "tags": ["Automation"],
        "summary": "List custom rules",
        "description": "Get all user-defined automation rules for transactions, bills, and expenses",
        "responses": {
          "200": {
            "description": "Rules retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomRule"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Automation"],
        "summary": "Create custom rule",
        "description": "Create automation rule with conditions and actions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomRuleInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rule created successfully"
          }
        }
      }
    },
    "/api/custom-rules/{id}/execute": {
      "post": {
        "tags": ["Automation"],
        "summary": "Execute custom rule",
        "description": "Manually execute a custom rule on matching transactions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rule executed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "processed": {
                      "type": "integer"
                    },
                    "updated": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/categories": {
      "get": {
        "tags": ["Categories"],
        "summary": "List categories",
        "description": "Get all transaction/expense categories with tax settings",
        "responses": {
          "200": {
            "description": "Categories retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Categories"],
        "summary": "Create category",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CategoryInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category created"
          }
        }
      }
    },
    "/api/analytics/summary": {
      "get": {
        "tags": ["Analytics & Reports"],
        "summary": "Get financial summary",
        "description": "Retrieve comprehensive financial analytics and insights",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "year"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsSummary"
                }
              }
            }
          }
        }
      }
    },
    "/api/export/ato": {
      "post": {
        "tags": ["Analytics & Reports"],
        "summary": "Export ATO tax report",
        "description": "Generate ATO-compliant tax deduction report",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "financialYear": {
                    "type": "string",
                    "example": "2024"
                  },
                  "format": {
                    "type": "string",
                    "enum": ["csv", "pdf", "xlsx"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export generated",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/subscription/status": {
      "get": {
        "tags": ["Subscription"],
        "summary": "Get subscription status",
        "description": "Retrieve user subscription tier and usage quotas",
        "responses": {
          "200": {
            "description": "Subscription status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionStatus"
                }
              }
            }
          }
        }
      }
    },
    "/api/vehicles": {
      "get": {
        "tags": ["Travel & Vehicles"],
        "summary": "List vehicles",
        "description": "Get registered vehicles for travel expense tracking",
        "responses": {
          "200": {
            "description": "Vehicles retrieved"
          }
        }
      },
      "post": {
        "tags": ["Travel & Vehicles"],
        "summary": "Register vehicle",
        "description": "Add vehicle for ATO logbook and travel deductions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Vehicle registered"
          }
        }
      }
    },
    "/api/trips": {
      "get": {
        "tags": ["Travel & Vehicles"],
        "summary": "List trips",
        "description": "Get recorded business trips for tax deductions",
        "responses": {
          "200": {
            "description": "Trips retrieved"
          }
        }
      },
      "post": {
        "tags": ["Travel & Vehicles"],
        "summary": "Record trip",
        "description": "Log business trip for ATO travel expense claims",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trip recorded"
          }
        }
      }
    },
    "/api/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Unified search",
        "description": "AI-powered search across transactions, bills, and expenses",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Search query"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["all", "transactions", "bills", "expenses"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        }
      }
    },
    "/api/chat/conversations": {
      "get": {
        "tags": ["AI Assistant"],
        "summary": "List conversations",
        "description": "Retrieve chat conversations for the authenticated user",
        "responses": {
          "200": {
            "description": "Conversations retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ChatConversation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AI Assistant"],
        "summary": "Create conversation",
        "description": "Create a new chat conversation thread",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Optional title for the conversation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversation created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ChatConversation"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chat/conversations/{id}": {
      "get": {
        "tags": ["AI Assistant"],
        "summary": "Get conversation",
        "description": "Fetch a conversation with full message history",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversation": {
                          "$ref": "#/components/schemas/ChatConversation"
                        },
                        "messages": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ChatMessage"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found"
          }
        }
      }
    },
    "/api/chat/message": {
      "post": {
        "tags": ["AI Assistant"],
        "summary": "Send chat message",
        "description": "Send a user message and receive the AI assistant response",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "conversationId": {
                    "type": "string",
                    "description": "Existing conversation identifier"
                  },
                  "message": {
                    "type": "string",
                    "description": "User message content"
                  },
                  "assetUrls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Optional uploaded asset URLs for the assistant to analyze"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Assistant response returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "conversationId": {
                          "type": "string"
                        },
                        "message": {
                          "$ref": "#/components/schemas/ChatMessage"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chat/upload": {
      "post": {
        "tags": ["AI Assistant"],
        "summary": "Upload chat files",
        "description": "Upload one or more files (receipts, invoices, documents) for assistant processing",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["files"],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Files uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "files": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ChatFile"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chat/stream": {
      "post": {
        "tags": ["AI Assistant"],
        "summary": "Stream assistant response",
        "description": "Initiate a streaming assistant response using Server-Sent Events (SSE)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "conversationId": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  },
                  "assetUrls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream started",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/chat/stream-test": {
      "get": {
        "tags": ["AI Assistant"],
        "summary": "Test streaming endpoint",
        "description": "Verify SSE streaming connectivity",
        "responses": {
          "200": {
            "description": "Stream test succeeded",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/chat/files/{userId}/{fileName}": {
      "get": {
        "tags": ["AI Assistant"],
        "summary": "Download chat file",
        "description": "Retrieve a previously uploaded file if the user is authorized",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File stream",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "File not found"
          }
        }
      }
    },
    "/api/receipts/analyze": {
      "post": {
        "tags": ["Receipts & Attachments"],
        "summary": "Analyze receipt asset",
        "description": "Extract structured data from an uploaded receipt or invoice",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assetUrl", "mimeType", "size"],
                "properties": {
                  "assetUrl": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  },
                  "size": {
                    "type": "integer"
                  },
                  "sha256": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt analyzed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ReceiptAnalysis"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": ["MCP Server"],
        "summary": "MCP Server - ChatGPT Apps SDK",
        "description": "Model Context Protocol endpoint for ChatGPT Apps SDK integration. Supports OAuth (JWT) authentication. Provides 65+ financial tools for expense tracking, tax deductions, bill management, and financial analysis.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "example": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {"type": "string"},
                      {"type": "number"},
                      {"type": "null"}
                    ],
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": ["initialize", "tools/list", "tools/call", "resources/list", "resources/templates/list", "resources/read", "prompts/list", "ping"],
                    "example": "tools/list"
                  },
                  "params": {
                    "type": "object",
                    "description": "Method-specific parameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {"type": "string", "enum": ["2.0"]},
                    "id": {"oneOf": [{"type": "string"}, {"type": "number"}, {"type": "null"}]},
                    "result": {"type": "object"},
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {"type": "integer"},
                        "message": {"type": "string"},
                        "data": {"type": "object"}
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing JWT token"
          },
          "429": {
            "description": "Rate limit exceeded - 200 requests per 15 minutes per user"
          }
        }
      }
    },
    "/mcp/inspector": {
      "post": {
        "tags": ["MCP Server"],
        "summary": "MCP Inspector Endpoint",
        "description": "Model Context Protocol endpoint for MCP Inspector tool and custom integrations. Supports API key authentication (X-API-Key header). Read-only by default. Rate limit: 50 requests per 15 minutes per API key.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "example": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {"type": "string"},
                      {"type": "number"},
                      {"type": "null"}
                    ],
                    "example": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": ["initialize", "tools/list", "tools/call", "resources/list", "resources/templates/list", "resources/read", "prompts/list", "ping"],
                    "example": "tools/list"
                  },
                  "params": {
                    "type": "object",
                    "description": "Method-specific parameters"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {"type": "string", "enum": ["2.0"]},
                    "id": {"oneOf": [{"type": "string"}, {"type": "number"}, {"type": "null"}]},
                    "result": {"type": "object"},
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {"type": "integer"},
                        "message": {"type": "string"},
                        "data": {"type": "object"}
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "403": {
            "description": "Forbidden - Insufficient scope or write operation attempted"
          },
          "429": {
            "description": "Rate limit exceeded - 50 requests per 15 minutes per API key"
          }
        }
      },
      "get": {
        "tags": ["MCP Server"],
        "summary": "MCP Inspector Health Check",
        "description": "Health check endpoint for MCP Inspector (no authentication required)",
        "security": [],
        "responses": {
          "200": {
            "description": "Server health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {"type": "boolean"},
                    "tools": {"type": "integer"},
                    "ts": {"type": "string"},
                    "mode": {"type": "string", "example": "inspector"}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/api-keys": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Generate API Key",
        "description": "Generate API key for MCP integrations, automation, and server-to-server communication. Requires admin authentication. API key is only shown once - save it immediately.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "scopes"],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "MCP Inspector - Production"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["mcp:read", "mcp:tools:list", "mcp:tools:call", "mcp:resources:read", "mcp:full", "*"]
                    },
                    "example": ["mcp:read", "mcp:tools:list"]
                  },
                  "expiresInDays": {
                    "type": "integer",
                    "default": 90,
                    "example": 90
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {"type": "string"},
                        "name": {"type": "string"},
                        "key": {"type": "string", "description": "API key - only shown once!"},
                        "scopes": {"type": "array", "items": {"type": "string"}},
                        "expiresAt": {"type": "string"},
                        "createdAt": {"type": "string"}
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Admin access required"
          }
        }
      },
      "get": {
        "tags": ["Authentication"],
        "summary": "List API Keys",
        "description": "List all API keys for the authenticated user (admin access required)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {"type": "boolean"},
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {"type": "string"},
                          "name": {"type": "string"},
                          "scopes": {"type": "array"},
                          "expiresAt": {"type": "string"},
                          "createdAt": {"type": "string"},
                          "lastUsedAt": {"type": "string"}
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/receipts/commit": {
      "post": {
        "tags": ["Receipts & Attachments"],
        "summary": "Commit receipt",
        "description": "Link an analyzed receipt to an existing entity or create a new expense",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["assetUrl", "mimeType", "size", "action"],
                "properties": {
                  "assetUrl": {
                    "type": "string"
                  },
                  "mimeType": {
                    "type": "string"
                  },
                  "size": {
                    "type": "integer"
                  },
                  "extracted": {
                    "$ref": "#/components/schemas/ReceiptExtractedData"
                  },
                  "action": {
                    "type": "object",
                    "required": ["type"],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": ["link", "create_expense"]
                      },
                      "transactionId": {
                        "type": "string"
                      },
                      "updateFields": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt committed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "entityType": {
                          "type": "string"
                        },
                        "entityId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tax/country-rates": {
      "get": {
        "tags": ["GST & Tax"],
        "summary": "List country tax rates",
        "description": "Fetch all active tax rates grouped by country",
        "responses": {
          "200": {
            "description": "Tax rates retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "rates": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TaxRate"
                          }
                        },
                        "ratesByCountry": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/TaxRate"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tax/rates/{countryCode}": {
      "get": {
        "tags": ["GST & Tax"],
        "summary": "Get country tax rates",
        "description": "Retrieve active tax rates for a specific country",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AU"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rates retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TaxRate"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Rates not found"
          }
        }
      }
    },
    "/api/tax/calculate": {
      "post": {
        "tags": ["GST & Tax"],
        "summary": "Calculate GST/VAT",
        "description": "Calculate GST/VAT amounts for tax-inclusive or tax-exclusive inputs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["amount", "gstIncluded"],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "gstIncluded": {
                    "type": "boolean"
                  },
                  "gstRate": {
                    "type": "number",
                    "description": "Optional rate override"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Fallback to lookup rate when provided"
                  },
                  "taxType": {
                    "type": "string",
                    "description": "Tax type (GST, VAT, SALES_TAX, etc.)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calculation complete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TaxCalculationResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/intelligent-categorization/unified/categorize": {
      "post": {
        "tags": ["AI Analysis"],
        "summary": "Categorize transactions with AI",
        "description": "Analyze one or more transactions and return suggested categories with confidence and reasoning.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["transactions"],
                "properties": {
                  "transactions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Transaction payload matching bank transaction shape"
                    }
                  },
                  "userProfile": {
                    "type": "object",
                    "description": "Optional user profile overrides (businessType, profession, etc.)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categorization results returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/intelligent-categorization/unified/tax": {
      "post": {
        "tags": ["AI Analysis"],
        "summary": "Analyze transactions for tax deductions",
        "description": "Return tax deductibility analysis, documentation requirements, and GST considerations for each transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["transactions"],
                "properties": {
                  "transactions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "description": "Transaction payload matching bank transaction shape"
                    }
                  },
                  "userProfile": {
                    "type": "object",
                    "description": "Optional user profile overrides (businessType, profession, etc.)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax analysis results returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/intelligent-tax-deduction/analyze-transaction": {
      "post": {
        "tags": ["AI Analysis"],
        "summary": "Analyze single transaction for tax deductibility",
        "description": "Evaluate a single transaction using the intelligent tax deduction engine.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["transactionId"],
                "properties": {
                  "transactionId": { "type": "string" },
                  "description": { "type": "string" },
                  "amount": { "type": "number" },
                  "date": { "type": "string", "format": "date-time" },
                  "merchant": { "type": "string" },
                  "category": { "type": "string" },
                  "primaryType": { "type": "string" },
                  "secondaryType": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax deductibility analysis returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "result": { "type": "object" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/intelligent-tax-deduction/apply-results": {
      "post": {
        "tags": ["AI Analysis"],
        "summary": "Apply tax analysis results",
        "description": "Persist AI tax analysis decisions (deductibility, business use, GST metadata) back to transactions.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["results"],
                "properties": {
                  "results": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["id", "isTaxDeductible"],
                      "properties": {
                        "id": { "type": "string" },
                        "isTaxDeductible": { "type": "boolean" },
                        "businessUsePercentage": { "type": "number" },
                        "confidence": { "type": "number" },
                        "reasoning": { "type": "string" },
                        "taxCategory": { "type": "string" },
                        "documentationRequired": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "warnings": {
                          "type": "array",
                          "items": { "type": "string" }
                        },
                        "suggestions": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Results applied",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "results": { "type": "array", "items": { "type": "object" } },
                    "summary": { "type": "object" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/category-sets": {
      "get": {
        "tags": ["Smart Categories"],
        "summary": "List category sets",
        "description": "Get all category sets for the authenticated user. Elite+ subscription required.",
        "responses": {
          "200": {
            "description": "Category sets retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "sets": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/CategorySet" }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Elite+ subscription required"
          }
        }
      },
      "post": {
        "tags": ["Smart Categories"],
        "summary": "Create category set",
        "description": "Create a new category set. Elite+ subscription required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "example": "Business Expenses" },
                  "description": { "type": "string", "example": "All business-related expense categories" },
                  "color": { "type": "string", "example": "#3B82F6" },
                  "icon": { "type": "string", "example": "Briefcase" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category set created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "set": { "$ref": "#/components/schemas/CategorySet" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Category set with this name already exists"
          }
        }
      }
    },
    "/api/category-sets/active": {
      "get": {
        "tags": ["Smart Categories"],
        "summary": "Get active category set",
        "description": "Get the currently active category set for the user.",
        "responses": {
          "200": {
            "description": "Active category set retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "set": { "$ref": "#/components/schemas/CategorySet" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/category-sets/{id}": {
      "get": {
        "tags": ["Smart Categories"],
        "summary": "Get category set by ID",
        "description": "Get a specific category set with its categories.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Category set retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "set": { "$ref": "#/components/schemas/CategorySet" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Category set not found"
          }
        }
      },
      "put": {
        "tags": ["Smart Categories"],
        "summary": "Update category set",
        "description": "Update an existing category set.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "color": { "type": "string" },
                  "icon": { "type": "string" },
                  "isActive": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category set updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "set": { "$ref": "#/components/schemas/CategorySet" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Category set not found"
          }
        }
      },
      "delete": {
        "tags": ["Smart Categories"],
        "summary": "Delete category set",
        "description": "Delete a category set. Categories will be moved to the default set. Default sets cannot be deleted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Category set deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "movedCategories": { "type": "integer" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cannot delete default category set"
          },
          "404": {
            "description": "Category set not found"
          }
        }
      }
    },
    "/api/category-sets/{id}/activate": {
      "post": {
        "tags": ["Smart Categories"],
        "summary": "Activate category set",
        "description": "Set a category set as the active set for the user.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Category set activated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "previousActiveSetId": { "type": "string" },
                    "newActiveSetId": { "type": "string" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Category set not found"
          }
        }
      }
    },
    "/api/category-sets/{id}/duplicate": {
      "post": {
        "tags": ["Smart Categories"],
        "summary": "Duplicate category set",
        "description": "Create a copy of a category set with all its categories.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "example": "Business Expenses Copy" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Category set duplicated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "set": { "$ref": "#/components/schemas/CategorySet" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Category set not found"
          },
          "409": {
            "description": "Category set with this name already exists"
          }
        }
      }
    },
    "/api/category-sets/move-category": {
      "post": {
        "tags": ["Smart Categories"],
        "summary": "Move category to set",
        "description": "Move a category from one set to another.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["categoryId", "targetSetId"],
                "properties": {
                  "categoryId": { "type": "string" },
                  "targetSetId": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "category": { "$ref": "#/components/schemas/Category" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Category or target set not found"
          }
        }
      }
    },
    "/api/category-sets/categories/from-sets": {
      "get": {
        "tags": ["Smart Categories"],
        "summary": "Get categories from sets",
        "description": "Get categories from specific sets, grouped by set ID. Useful for dropdowns and filtering.",
        "parameters": [
          {
            "name": "setIds",
            "in": "query",
            "description": "Comma-separated list of set IDs",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Categories retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "categories": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Category" }
                    },
                    "grouped": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "array",
                        "items": { "$ref": "#/components/schemas/Category" }
                      }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/transaction-categories/{transactionId}": {
      "get": {
        "tags": ["Smart Categories"],
        "summary": "Get transaction categories",
        "description": "Get all categories assigned to a transaction.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Categories retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "categories": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TransactionCategory" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Smart Categories"],
        "summary": "Assign category to transaction",
        "description": "Assign a category to a transaction. Transactions can have multiple categories.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["categoryId"],
                "properties": {
                  "categoryId": { "type": "string" },
                  "categorySetId": { "type": "string" },
                  "isPrimary": { "type": "boolean", "default": false },
                  "confidence": { "type": "number", "minimum": 0, "maximum": 1 },
                  "assignedBy": { "type": "string", "enum": ["user", "ai", "import", "rule", "bulk"] },
                  "notes": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category assigned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "category": { "$ref": "#/components/schemas/TransactionCategory" }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Smart Categories"],
        "summary": "Replace transaction categories",
        "description": "Replace all categories on a transaction with a new set of categories.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["categories"],
                "properties": {
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["categoryId"],
                      "properties": {
                        "categoryId": { "type": "string" },
                        "categorySetId": { "type": "string" },
                        "isPrimary": { "type": "boolean" },
                        "confidence": { "type": "number" },
                        "assignedBy": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categories replaced",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "categories": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TransactionCategory" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/transaction-categories/{transactionId}/multiple": {
      "post": {
        "tags": ["Smart Categories"],
        "summary": "Assign multiple categories",
        "description": "Assign multiple categories to a transaction at once.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["categories"],
                "properties": {
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": ["categoryId"],
                      "properties": {
                        "categoryId": { "type": "string" },
                        "categorySetId": { "type": "string" },
                        "isPrimary": { "type": "boolean" },
                        "confidence": { "type": "number" },
                        "assignedBy": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Categories assigned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "categories": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TransactionCategory" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/transaction-categories/{transactionId}/{categoryId}": {
      "delete": {
        "tags": ["Smart Categories"],
        "summary": "Remove category from transaction",
        "description": "Remove a specific category assignment from a transaction.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Category removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/transaction-history/{entityType}/{entityId}": {
      "get": {
        "tags": ["Smart Categories"],
        "summary": "Get entity history",
        "description": "Get full change history for a transaction, expense, bill, or bill pattern.",
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["transaction", "expense", "bill", "billPattern"] }
          },
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "history": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TransactionFieldHistory" }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid entity type"
          }
        }
      }
    },
    "/api/transaction-history/{entityType}/{entityId}/{fieldName}": {
      "get": {
        "tags": ["Smart Categories"],
        "summary": "Get field history",
        "description": "Get change history for a specific field of an entity. Maximum 11 changes are retained.",
        "parameters": [
          {
            "name": "entityType",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["transaction", "expense", "bill", "billPattern"] }
          },
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Field history retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "fieldName": { "type": "string" },
                    "changes": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TransactionFieldHistory" }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/transaction-history/recent": {
      "get": {
        "tags": ["Smart Categories"],
        "summary": "Get recent changes",
        "description": "Get recent field changes for the authenticated user.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 50, "maximum": 200 }
          },
          {
            "name": "entityType",
            "in": "query",
            "schema": { "type": "string", "enum": ["transaction", "expense", "bill", "billPattern"] }
          },
          {
            "name": "fieldName",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "since",
            "in": "query",
            "description": "ISO date string",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent changes retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "changes": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/TransactionFieldHistory" }
                    },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "businessType": {
            "type": "string",
            "enum": ["business", "individual", "company", "trust"]
          },
          "countryCode": {
            "type": "string",
            "example": "AU"
          },
          "emailVerified": {
            "type": "boolean"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "token": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "BankTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "type": {
            "type": "string",
            "enum": ["debit", "credit"]
          },
          "categoryId": {
            "type": "string",
            "format": "uuid"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "merchant": {
            "type": "string"
          },
          "isTaxDeductible": {
            "type": "boolean"
          },
          "businessUsePercentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "gstAmount": {
            "type": "number"
          },
          "gstRate": {
            "type": "number"
          },
          "gstIncluded": {
            "type": "boolean"
          }
        }
      },
      "BankTransactionInput": {
        "type": "object",
        "required": ["date", "description", "amount", "type"],
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "type": {
            "type": "string",
            "enum": ["debit", "credit"]
          },
          "categoryId": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "gstAmount": {
            "type": "number"
          },
          "gstRate": {
            "type": "number"
          },
          "gstIncluded": {
            "type": "boolean"
          }
        }
      },
      "ChatConversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": ["string", "null"]
          },
          "messageCount": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "conversationId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": ["user", "assistant", "system"]
          },
          "content": {
            "type": "string"
          },
          "toolsUsed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ChatFile": {
        "type": "object",
        "properties": {
          "assetUrl": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          }
        }
      },
      "ReceiptExtractedData": {
        "type": "object",
        "properties": {
          "merchant": {
            "type": "string"
          },
          "dateISO": {
            "type": "string",
            "format": "date"
          },
          "currency": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "tax": {
            "type": "number"
          },
          "tip": {
            "type": "number"
          },
          "lineItems": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                },
                "unitPrice": {
                  "type": "number"
                },
                "amount": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "ReceiptAnalysis": {
        "type": "object",
        "properties": {
          "extracted": {
            "$ref": "#/components/schemas/ReceiptExtractedData"
          },
          "candidates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "amount": {
                  "type": "number"
                }
              }
            }
          },
          "asset": {
            "type": "object",
            "properties": {
              "assetUrl": {
                "type": "string"
              },
              "mimeType": {
                "type": "string"
              },
              "size": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TaxRate": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string"
          },
          "taxType": {
            "type": "string"
          },
          "taxName": {
            "type": "string"
          },
          "standardRate": {
            "type": "number"
          },
          "reducedRate": {
            "type": ["number", "null"]
          },
          "zeroRate": {
            "type": "number"
          },
          "combinedRate": {
            "type": ["number", "null"]
          },
          "stateProvince": {
            "type": ["string", "null"]
          },
          "description": {
            "type": ["string", "null"]
          }
        }
      },
      "TaxCalculationResult": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "baseAmount": {
            "type": "number"
          },
          "gstAmount": {
            "type": "number"
          },
          "gstIncluded": {
            "type": "boolean"
          },
          "gstRate": {
            "type": "number"
          },
          "input": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "gstIncluded": {
                "type": "boolean"
              },
              "gstRate": {
                "type": "number"
              },
              "countryCode": {
                "type": "string"
              },
              "taxType": {
                "type": "string"
              }
            }
          }
        }
      },
      "Bill": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "paid": {
            "type": "boolean"
          },
          "categoryId": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "recurring": {
            "type": "boolean"
          }
        }
      },
      "BillInput": {
        "type": "object",
        "required": ["name", "amount", "dueDate"],
        "properties": {
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "categoryId": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "BillPattern": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "baseAmount": {
            "type": "number"
          },
          "frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "fortnightly", "monthly", "quarterly", "yearly"]
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "isActive": {
            "type": "boolean"
          },
          "categoryId": {
            "type": "string"
          },
          "occurrences": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "BillPatternInput": {
        "type": "object",
        "required": ["name", "baseAmount", "frequency", "startDate"],
        "properties": {
          "name": {
            "type": "string"
          },
          "baseAmount": {
            "type": "number"
          },
          "frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "fortnightly", "monthly", "quarterly", "yearly"]
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "categoryId": {
            "type": "string"
          },
          "dayOfMonth": {
            "type": "integer",
            "minimum": 1,
            "maximum": 31
          }
        }
      },
      "Expense": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "categoryId": {
            "type": "string"
          },
          "isTaxDeductible": {
            "type": "boolean"
          },
          "taxDeductions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "isTaxDeductible": {
            "type": "boolean"
          },
          "taxCategory": {
            "type": "string"
          },
          "defaultGstRate": {
            "type": "number"
          }
        }
      },
      "CategoryInput": {
        "type": "object",
        "required": ["name"],
        "properties": {
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "color": {
            "type": "string"
          },
          "isTaxDeductible": {
            "type": "boolean"
          },
          "taxCategory": {
            "type": "string"
          },
          "defaultGstRate": {
            "type": "number"
          }
        }
      },
      "CategorySet": {
        "type": "object",
        "description": "A category set for organizing categories into groups (e.g., Business Expenses, Tax Deductible, Personal). Elite+ feature.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Business Expenses"
          },
          "description": {
            "type": "string",
            "example": "All business-related expense categories"
          },
          "color": {
            "type": "string",
            "example": "#3B82F6"
          },
          "icon": {
            "type": "string",
            "example": "Briefcase"
          },
          "userId": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Whether this is the default category set (cannot be deleted)"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this is the currently active category set"
          },
          "categoryCount": {
            "type": "integer",
            "description": "Number of categories in this set"
          },
          "categories": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Category" }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
[...]
